[tools]
ansible = "13.3.0"
pipx = "1.8.0"

[tasks.ping]
description = 'Ping my homeserver'
run = 'ansible all -i inventory.yml -m ping --vault-pass-file vault-key.sh --private-key=~/.ssh/id_maintainer'

[tasks.run-playbook]
alias = 'rp'
description = 'Run playbook'
run = 'ansible-playbook -i inventory.yml run.yml --ask-become-pass --vault-pass-file vault-key.sh'

[tasks.lint]
description = 'Lint playbooks with ansible-lint'
run = 'pipx run ansible-lint'

# check mode does not work here because ansible.builtin.uri response does not contain status field
# TODO: find check mode compatible way to handle this
# [tasks.dry-run]
# alias = 'dry'
# description = 'Dry run playbook (check mode)'
# run = 'ansible-playbook -i inventory.yml run.yml --check --ask-become-pass --vault-pass-file vault-key.sh'

[tasks.facts]
description = 'Show ansible facts'
run = 'ansible-playbook -i inventory.yml test.yml --ask-become-pass --vault-pass-file vault-key.sh'
