---
ansible_user: ansible_user
host_user: host_user

immich_db_password: immich-db-password

komodo_database_username: komodo-db-user
komodo_database_password: komodo-db-password
komodo_init_admin_username: admin
komodo_init_admin_password: komodo-admin-password
komodo_jwt_secret: komodo-jwt-secret
komodo_webhook_secret: komodo-webhook-secret
komodo_github_token: komodo-github-personal-access-token

paperless_db_password: paperless-db-password
