---
ansible_user: ansible_user
host_user: host_user

portainer_admin_user: admin
portainer_admin_pass: admin-pass
portainer_endpoint_id: 2

immich_db_password: immich-db-password

komodo_database_username: komodo-db-user
komodo_database_password: komodo-db-password
komodo_init_admin_username: admin
komodo_init_admin_password: komodo-admin-password
komodo_jwt_secret: komodo-jwt-secret
komodo_webhook_secret: komodo-webhook-secret
