---
####################################################
# Preparating steps:
#
# Disable DNSStubListener and update resolv.conf
####################################################
- name: Modify resolved.conf to disable DNSStubListener
  ansible.builtin.replace:
    path: /etc/systemd/resolved.conf
    regexp: "^#?DNSStubListener=.*"
    replace: "DNSStubListener=no"
    backup: true
  notify: Restart systemd-resolved

- name: Ensure resolv.conf symlink exists
  ansible.builtin.file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link
  notify: Restart systemd-resolved

####################################################
# Installing pihole container
####################################################
- name: Authenticate and Check stack
  ansible.builtin.include_role:
    name: portainer_stacks
    tasks_from: authenticate_and_check_stack

- name: "Setup folder for stack"
  ansible.builtin.file:
    path: "/home/{{ host_user }}/{{ container_data }}/{{ stack_name }}"
    state: directory
    owner: "{{ host_user }}"
    group: "{{ host_user }}"
    mode: "0755"
  when: jwt_token is defined and stack_not_exists

- name: "Setup sub folders"
  ansible.builtin.file:
    path: "/home/{{ host_user }}/{{ container_data }}/{{ stack_name }}/{{ sub_directory }}"
    state: directory
    owner: "{{ host_user }}"
    group: "{{ host_user }}"
    mode: "0755"
  loop:
    - dnsmasq
  loop_control:
    loop_var: sub_directory
  when: stack_not_exists

- name: "Deploy {{ stack_name }}"
  ansible.builtin.include_role:
    name: portainer_stacks
    tasks_from: create_stack
  vars:
    stack_compose: "{{ lookup('ansible.builtin.template', 'pihole.yml') }}"
