---
- name: "Create a stack in Portainer {{ stack_name }}"
  ansible.builtin.uri:
    url: "{{ portainer_api_url }}/api/stacks/create/standalone/string?endpointId={{ portainer_endpoint_id }}"
    method: POST
    timeout: 300 # image download and container creation might take some time
    headers:
      Content-Type: "application/json"
      Authorization: "Bearer {{ jwt_token }}"
    body_format: json
    body:
      name: "{{ stack_name }}"
      fromAppTemplate: false
      StackFileContent: "{{ stack_compose }}"
      env: "{{ stack_compose_env | default(omit) }}"
  register: create_stack_response
  when: jwt_token is defined and stack_not_exists

- name: "Check stack creation response {{ stack_name }}"
  ansible.builtin.fail:
    msg: "Failed to create stack in Portainer"
  when: stack_not_exists and create_stack_response.status != 200
